.btn-purple{
    background-color: rgb(105, 6, 105);
    color:white;
}
/* Navbar */
.navbar-purple {
  background-color: #400857; 
  color: white;
}
.navbar-purple .navbar-brand,
.navbar-purple .nav-link,
.navbar-purple .nav-link.active {
  color: white; 
}
.navbar-purple .nav-link:hover {
  color: #d3b3ff; 
}
.btn-purple:hover {
  background-color: rgb(161, 12, 161); 
  color:white;
}
/* Alert */
.alert-purple{
  background-color: #d2b9f5;
  color:white;
}
.alert-purple {
  color: #fff;               /* text color */
  background-color: #6f42c1; /* purple background */
  border-color: #5936a1;     /* optional border */
}

